!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" type="text/css" href="/static/base.css">

<body>
    <header>

        {% if name == "" %}
        <h3 id="user_name">ようこそ ゲスト さん</h3>
        {% elif name %}
        <h3 id="user_name">ようこそ {{name}} さん</h3>
        {% else %}
        <h3 id="user_name">ログインしてください</h3>
        {% endif %}

        <div id="search1">
        <form action="/blog/search" method="post">
            <input id="search2" type="text" name="search">
            <input class="btn2" type="submit" value="検  索">
        </form>
        </div>

        <div class="menu_box">
            <label id="menu" for="toggle">メニュー</label>
            <input type="checkbox" id="toggle">
            <ul class="dropdown_menu">
                <li><a href="/blog">ホーム</a></li>
                <li><a href="/blog/create">新規作成</a></li>
                <li><a href="/blog/logout">ログアウト</a></li>
            </ul>
        </div>

    </header>


{% block body %}{% endblock %}


    <footer>
        <ul>
            <li><a href="/blog">ホーム</a></li>
            {% if name == "レイルーク" %}
            <li><a href="/blog/all_delete">全削除</a></li>
            {% else %}
            <li>

            <span onclick="document.getElementById('search1').style.display = 'block'; document.getElementById('search2').focus();">
            検　索</span>

            </li>
            {% endif %}
            <li><a href="/blog/create">新規作成</a></li>
            <li><a href="/blog/logout">ログアウト</a></li>
        </ul>
        <span id="c">(c)2020 ふたり暮らし</span>
    </footer>
</body>