header{
  position: fixed; /*絶対位置で固定*/
  top: 0px; /*上に配置*/
  left: 0px; /*左の隙間をなくす*/
  padding:0px 30px; /*範囲内の余白（上下、左右）*/
  width: 100%; /*幅*/
  height: 60px; /*高さ*/
  background-image: url("back_image.jpg");
  /*画像を背景に指定*/
}

#main{
  margin: auto; /*中央寄せ*/
  padding:60px 20px; /*範囲内の余白（上下、左右）*/
  width: 90%; /*幅*/
  max-width: 800px; /*最大の幅*/
}

.label{
  font-size: 24px; /*文字のサイズ*/
}

#text1{
  padding: 8px; /*範囲内の余白*/
  width: 100%; /*幅*/
  font-size: 18px; /*文字の大きさ*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

textarea{
  padding: 10px; /*範囲内の余白*/
  width: calc(100% - 300px); /*幅*/
  font-size: 17px; /*文字の大きさ*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  resize: vertical;
}

#image_box{
  float: right; /*右に寄せる*/
  width: 300px;
}

#file-sample {
   display: none; 
}

.btn1{
  display: block;
  padding: 5px 30px; /*余白*/
  color:#fff; /*文字の色*/
  font-size: 16px; /*文字のサイズ*/
  text-align: center; /*文字の位置*/
  background:#1B73BA; /*背景色*/
  border-radius: 10px; /*角の半径*/
  cursor: pointer; /*カーソル（指のかたち）*/
}

.btn1:hover{
  opacity: 0.8; /*透明度*/
}

img{
  margin: 2px 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  #image_box{
      width: 100%; /*スマホなどの時の画像サイズ*/
  }
  textarea{
      width: 100%;
  }
}

.time{
  clear: both; /*「float」を解除*/
}

footer{
  position: fixed; /*絶対位置で固定*/
  bottom: 0px; /*下に配置*/
  left: 0px; /*左の隙間をなくす*/
  width: 100%; /*幅*/
  height: 60px; /*高さ*/
  font-weight: bold; /*文字を太字にする*/
  text-align: center; /*中央に表示する*/
  background-image: url("back_image.jpg");
  /*画像を背景に指定*/
}

ul.footer-menu li {
  display: inline; /*一行で表示する*/
}

#copy{
  position: absolute; /*絶対位置（rightのために必要）*/
  right: 30px; /*右に配置*/
}